<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1 class="title">Log in</h1>
    <h3><%=message%></h3>
    <form action="/login" method="post" class="login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        
        <label for="password">Password</label>
        <input type="password" name='password' id="password">

        <button class="submit">Submit</button>
    </form>
    <a href="/register">Or Register Here</a>
</body>
</html>