<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Register</h1>
    <form action="/register" method="post" class="register">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        
        <label for="password">Password</label>
        <input type="password" name='password' id="password">

        <label for="2ndPassword">Re-Enter Password</label>
        <input type="password" name="2ndPassword" id="2ndPassword">

        <button class="submit">Submit</button>
    </form>
</body>
</html>