<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Room Name</h1>
    <!-- post data -->
    <%if(user){%>
        <form action="/room" method="post">
            <!-- needs values for roomname, user, date, content, reply(bool) -->
            <input type="text" name="reply" value="false" style='display:none'>
            <label for="content">Post a Comment to this Thread</label>
            <textarea name="content" id="content" placeholder="Post your thoughts"></textarea>
            <button class="submitContent">Post</button>
        </form>

    <%}%>
</body>
</html>